.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #122a4e;
    color: white;
    text-align: center;
    font-family: cursive;
    p{
      font-size: 15px;
      font-weight: bold;
    }
  }

