<div class="login-form">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <h4 class="text-center">Change Password</h4>
      <div class="text-danger" *ngIf="error">
        <p>{{error}}</p>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
        <span class="text-danger" *ngIf="!changePasswordForm.get('email').valid && changePasswordForm.get('email').touched">
          <span class="text-danger" *ngIf="changePasswordForm.get('email').errors['required']">
            Required Field
          </span>
          <span class="text-danger" *ngIf="!changePasswordForm.get('email').errors['required']">Invalid email</span>
        </span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="newPassword" placeholder="newPassword" formControlName="newPassword">
        <span class="text-danger" *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched">
          <span class="text-danger" *ngIf="changePasswordForm.get('newPassword').errors['required']">
            Required Field
          </span>
          <span class="text-danger" *ngIf="!changePasswordForm.get('confirmPassword').errors['required']">Password should have atleast 8 characters</span>
        </span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="confirmPassword" placeholder="confirmPassword" formControlName="confirmPassword">
          <span class="help-block text-danger" *ngIf="changePasswordForm.errors?.notmatched && (changePasswordForm.get('confirmPassword').touched || changePasswordForm.get('confirmPassword').dirty)"> Password not same</span>
      </div>
      <div class="form-group">
          <button type="submit" class="btn change-btn" [disabled]="!changePasswordForm.valid" >Change password</button>
      </div>
  </form>
</div>
