  <!-- feed starts -->
     <div class="container">
      <div class="row home-style">
      <div class="feed col-md-12">
        <div class="feed__header">
          <h4>Home</h4>
        </div>
        <!-- tweetbox starts -->
        <div class="tweetBox">
          <form [formGroup]="tweetForm" (ngSubmit)="newTweet()">
            <div class="tweetbox__input">
              <img
              src= {{getImage()}}
                alt=""
              />
              <input type="text" class="input" id="tweet" formControlName="tweet" placeholder="What's happening?" />
            </div>
            <button class="tweetBox__tweetButton" type="submit" [disabled]="!tweetForm.valid">tweet</button>
          </form>
        </div>
        <div *ngIf="!!!tweets || tweets.length === 0">
          <h4 class="ml-5 mt-5">No tweets to show</h4>
        </div>
        <!-- tweetbox ends -->

        <!-- post starts -->
        <div *ngIf="!!tweets">
          <div class="post"  *ngFor="let tweet of tweets">
            <div class="post__avatar">
              <img
                src={{tweet.user.image}}
                alt=""
              />
            </div>

            <div class="post__body">
              <div class="post__header">
                <div class="post__headerText">
                  <h3>
                    {{tweet.user.name}}
                    <span class="post__headerSpecial"
                      ><span class="material-icons post__badge"> verified </span>@{{tweet.user.name}}</span
                    >
                  </h3>
                </div>
                <div class="post__headerDescription">
                  <p>{{tweet.content}}</p>
                </div>
              </div>
              <hr>
              <span class="like-style">{{tweet.likes.length}} Likes </span> <span class="ml-3 data-style">{{tweet.tweetDate}}</span>
              <hr>
              <div class="post__footer">
                <em class="material-icons" (click)="toggleReply(tweet.id)">chat_bubble_outline</em>
                <span class="material-icons"> repeat </span>
                <div [ngClass]="{'liked-color': isUserLiked(tweet.likes)}">
                  <em class="material-icons" (click)="like(tweet.id)" > favorite_border </em>
                </div>              
                <span class="material-icons"> publish </span>
              </div>
              <ul *ngIf="isShow && currentId === tweet.id">
                <li *ngFor="let reply of tweet.replies">
                  <div class="post__header mt-3">
                    <div class="post__headerText">
                      <h3>
                        {{reply.user.name}}
                        <span class="post__headerSpecial"
                          ><span class="material-icons post__badge"> verified </span>@{{reply.user.name}}</span
                        >
                      </h3>
                    </div>
                    <div class="post__headerDescription">
                      <p>{{reply.content}}</p>
                    </div>
                  </div>
                  <hr>
                  <span class="like-style">{{reply.likes.length}} Likes </span> <span class="ml-5 data-style">{{reply.tweetDate}}</span>
                  <hr>
                  <div class="post__footer">
                    <em class="material-icons " (click) = "toggleReply(reply.id)">chat_bubble_outline</em>
                    <span class="material-icons"> repeat </span>
                    <span class="material-icons"> publish </span>
                  </div>
                </li>
                <li>
                  <form [formGroup]="replyInput" (ngSubmit)="replyData(tweet.id)">
                    <div class="replybox__input">
                      <input type="text" class="input" placeholder="Reply here" id="reply" formControlName="reply" />
                    </div>
                    <button  type="submit" class="replyBox__replyButton" [disabled]="!replyInput.valid">Reply</button>
                  </form>
                </li>
              </ul>
            </div>
            <hr>
          </div>
          <!-- post ends -->
        </div>

     </div>
     <hr>
    </div>
  </div>